<footer class="text-left">
  <div class="container">
    <div class="row">
      <section class="col-md-5 col-sm-3 col-xs-6">
        <div class="text-left">
          <div class="social_icons pad-top-20">
            <a href="https://www.facebook.com/tripler.th" title="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/company/tripler" title="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </section>
      <section class=" col-md-5 col-sm-6 footertag text-right">
        <h5>&copy;2015 Tripler Co., Ltd.</h5>
        1193 Rama 9 Rd. Suanluang Bangkok 10250 Thailand
      </section>
      <section class="col-md-2 col-sm-2 ">
        {% image 'logo_footer.png' class='footer_logo' %}
      </section>
    </div>
   </div>
</footer>
