<!-- mobile menu -->
<nav id='cssmenu' class="visible-xs visible-sm">
  <div class="movi-logo">
    <a href="index.html" class="text-center">
      {% image 'logo_mobile.png' alt='logo' %}
    </a>
  </div>
  <div id="head-mobile"></div>
  <div class="button"></div>
  <ul>
    <li class='active'><a href='#'>HOME</a></li>
    <li><a class="scroll-link" data-soffset="50" href='#about'>ABOUT</a></li>
    <li><a class="scroll-link" data-soffset="50" href='#our-works'>OUR WORKS</a></li>
    <!-- <li><a class="scroll-link" data-soffset="50" href='#works'>WORKS</a></li>
    <li><a class="scroll-link" data-soffset="50" href='#news'>NEWS</a></li>
    <li><a class="scroll-link" data-soffset="50" href='#contact'>CONTACT</a></li> -->
  </ul>
</nav>

<!-- main navigation -->
<nav class="main_navigation visible-md visible-lg">
  <section class="nav-container">
    <div class="nav-logo">
      {% image 'logo.png' alt='logo' class='img-responsive' %}
    </div>
    <div class="nav-menu">
      <ul>
        <li><a class="scroll-link" data-soffset="50" href="#home">HOME</a></li>
        <li><a class="scroll-link" data-soffset="60" href="#about">ABOUT</a></li>
        <li><a class="scroll-link" data-soffset="60" href="#our-works">OUR WORKS</a></li>
        <!-- <li><a class="scroll-link" data-soffset="60" href="#works">WORKS</a></li>
        <li><a class="scroll-link" data-soffset="60" href="#news">NEWS</a></li>
        <li><a class="scroll-link" data-soffset="60" href="#contact">CONTACTS</a></li> -->
      </ul>
    </div>
  </section>
  <div class="clears"></div>
</nav>
