<article class="preload-logo">
  {% image 'logo-dark.png' %}
</article>
<article class="mask">
  <article class="preload-rotate">
    <article class="dot dot1"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot2"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot3"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot4"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot5"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot6"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot7"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot8"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot9"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot10"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot11"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot12"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot13"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot14"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot15"></article>
  </article>
  <article class="preload-rotate">
    <article class="dot dot16"></article>
  </article>
</article>
