---
layout: default
---

section#home.pbg_01.autoheight
  .hero-overlay-two.autoheight
    article.container.vertical-center-quart.hero-content
      .particle-content 
        h4 We create innovative
        h1.hero-bold-head WEB and MOBILE <br/> APPLICATIONS
        p We are <strong>Tripler</strong>, the <span>creative</span> people from the land of smiles, we create innovative <span>web</span> and <span>mobile applications</span> that rocks.

  .particles.autoheight

section#about.common-section.hero_bottom.pattern-section
  article.container
    .row
      .col-md-8.col-md-offset-2
        h1.main-head.text-center.wow.fadeInDown data-wow-delay=".5s" Hello World!
        #sync1.owl-carousel.wow.fadeIn data-wow-delay=".5s"
          p.sub-intro.text-center.pad-top-20 We are a small team of passionate technologists. We partner with our clients to build, nurture and scale web and mobile solutions.

          p.sub-intro.text-center.pad-top-20 Our team values people over tools, quality over speed and effective communication over technical skill. We have lots of experience launching innovative products so we help our clients navigate the early product life cycle with best-practice product development strategies.
    .row
      .col-md-4.col-md-offset-4
        #sync2.owl-carousel.text-center.intro-icon.pad-top-30.wow.fadeInUp data-wow-delay=".5s"
          {% image 'serv_icon/technologist.png' alt='serv' %}
          {% image 'serv_icon/heart.png' alt='serv' %}
          
section#our-works.common-section.grey-section
  article.container
    .row
      .col-sm-12
        h1.main-head.text-center.wow.fadeInDown data-wow-delay=".5s" Our Works
        .serv_item.wow.fadeInLeft data-wow-delay=".5s"
          h3 RideCache
          .casestudy-image
            {% image 'features/ridecache_devices.png' class='img img-responsive' %}
          .row
            .col-sm-6.text-left
              p We've worked with the RideCache team to turn their prototype and wireframes from a concept into a scalable, mobile-ready web application. RideCache is poised to become the one-stop shop for maintaining and sharing information about your car collections, whether you have a garage full of antiques or a single weekend racer.

            .col-sm-6.text-left
              p By maintaining a tight iteration loop and following best-practice Agile methodology we've iterated through numerous sprints since the initial build, adding features and responding rapidly to user requests. The application boasts a clean, responsive interface that leverages AngularJS to give the users a highly interactive, "single-page" feel.
          .row
            .col-sm-12
              h4 Technologies
              ul.list-unstyled.tech-stack
                li.ruby-on-rails
                  i.fa.fa-diamond 
                  | Ruby on Rails
                li.grape-api
                  i.fa.braces 
                  | {} Grape API
                li.postgresql
                  i.fa.fa-database
                  | PostgreSQL
                li.angularjs
                  i.fa.fa-angularjs
                  | AngularJS
                li.html5
                  i.fa.fa-html5
                  | HTML5
                li.css3
                  i.fa.fa-css3
                  | CSS3

        .serv_item.wow.fadeInLeft data-wow-delay=".5s"
          h3 TrustBooks
          .casestudy-image
            {% image 'features/trustbooks_devices.png' class='img img-responsive' %}
          .row
            .col-sm-6.text-left
              p Only two things scare lawyers: Trust accounting and other lawyers. This exciting SaaS solution makes trust accounting dead simple, and ensures that lawyers stay compliant with their State Bar without hiring expensive specialists. TrustBooks has built-in controls to ensure firms stay on track while managing all of the necessary workflows, from printing checks to reconciling accounts. Think of QuickBooks without the headache.

            .col-sm-6.text-left
              p Our priorities during the Version 1 build were simplicity and security. Since accounting tools are intrinsically complex we followed a rigorous "front first" approach to test workflows before any backend functionality was added. And given the sensitive nature of the legal market we took extra precautions against malicious use. TrustBooks users can be confident that their data is being protected by best practice architecture and best-in-class infrastructure providers.
          .row
            .col-sm-12
              h4 Technologies
              ul.list-unstyled.tech-stack
                li.ruby-on-rails
                  i.fa.fa-diamond 
                  | Ruby on Rails
                li.postgresql
                  i.fa.fa-database
                  | PostgreSQL
                li.jquery
                  i.fa.fa-jquery
                  | jQuery
                li.html5
                  i.fa.fa-html5
                  | HTML5
                li.css3
                  i.fa.fa-css3
                  | CSS3
